@import "tailwindcss";

@font-face {
  font-family: "Sabon";
  src: url("/fonts/Sabon/SabonRegular/SabonRegular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Sabon";
  src: url("/fonts/Sabon/SabonBold/SabonBold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Sabon";
  src: url("/fonts/Sabon/SabonItalic/SabonItalic.woff") format("woff");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Sabon";
  src: url("/fonts/Sabon/SabonBoldItalic/SabonBoldItalic.woff") format("woff");
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Narkiss Tam";
  src: url("/fonts/NarkissTamHeavy/NarkissTamHeavy.woff") format("woff");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Mabry Pro";
  src: url("/fonts/Mabry Pro/Mabry Pro.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;

  --font-sabon: "Sabon", Georgia, serif;
  --font-narkiss: "Narkiss Tam", Arial, sans-serif;
  --font-mabrypro: "Mabry Pro", Arial, sans-serif;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sabon: var(--font-sabon);
  --font-narkiss: var(--font-narkiss);
  --font-narkiss: var(--font-mabrypro);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sabon);
}